header {
  font-size: 54px;
  text-align: center;
  padding: 15px;
}

#section-container {
  display: flex;
}

#left-section {
  flex: 1;
  background-color: lightgrey;
  width: 48vw;
  height: 88vh;
}

#right-section {
  flex: 1;
  background-color: lightblue;
  width: 48vw;
  height: 88vh;
}

#folder-section {
  display: inline-block;
  margin: 5px;
}

#folder-error {
  color: red;
}

.folder {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}

.folder:hover {
  cursor: pointer;
  color: blue;
}

.selected {
  background-color: lightblue;
}
